/FacialMocapUE4/Saved/
/FacialMocapUE4/Intermediate/
/FacialMocapUE4/Content/Collections/
/FacialMocapUE4/Content/Developers/
/FacialMocapUE4/Plugins/UDPWrapper/Intermediate/
/FacialMocapUE4/Plugins/UDPWrapper/Binaries/
/FacialMocapSender/.vs/
/FacialMocapSender/FacialMocapSender/.vs/
/FacialMocapSender/FacialMocapSender/obj/
/FacialMocapSender/DlibDotNet.Extensions/obj/
/FacialMocapSender/DlibDotNet.Extensions/bin/